{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="ticket-entry">
    <!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text">Ticket</h5>
      <h2 class="card-title h2 my-4 py-2">{{ object.title }}</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">{{ object.description }}</p>
        <p class="green-text">{{ object.date }}</p>
      <a class="btn peach-gradient">Для покупки звоните по телефону: {{ t.author }}</a>


    </div>
  </div>
</div>
<!-- Jumbotron -->
        <div class="container text-center mt-5">
            <h2>Подробная информация</h2>
            <p style="font-size: 25px;">{{ object.body }}</p>
        </div>

        <div class="container text-center mt-5"><h1>Продавец</h1>
    <p>by <a href=""> {{ object.author }}</a></p>

    <p class="mt-5">Вернуться к  <a href="{% url 'tickets_list' %}">Просмотру билетов</a></p>
</div>
    </div>
<!--
    <p>{{ ticket.get_author_name }}</p>
    <p>{{ user.username }}</p>
  <p><a href="{% url 'ticket_edit' ticket.pk %}">Edit</a>
    | <a href="{% url 'ticket_delete' ticket.pk %}">Delete</a></>
    <p>Back to <a href="{% url 'tickets_list' %}">All tickets</a></p>
-->


    <!-- Footer -->
{% endblock %}